@{
    ViewData["Title"] = "Panier";
}

<div id="shopping-cart-index-container" class="row mx-0">
    <div class="w-100 justify-content-center">
        <h3 id="shopping-cart-index-title">Votre panier</h3>
    </div>
    <div id="shopping-cart-items-list">

    </div>
</div>