@{
    ViewData["Title"] = "Votre reçu";
}

<div id="checkout-receipt-container">
    <h3 id="checkout-receipt-title">Votre reçu</h3>
    <p>Votre achat est confirmé!</p>

    <button asp-controller="Account" asp-action="Details" class="btn btn-success">Return</button>
</div>