@using BallsRUs.Models.Account
@model AccountDetailsVM
@{
    ViewData["Title"] = "AddAddress";
}

<div>
    <h3 id="account-details-title">Ajouter une adresse</h3>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    <div class="row" style="margin-top:30px">
        <div style="text-align:center">
            <form asp-action="AddAddress" class="account-register-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-4">
                    <input asp-for="AddressStreet" class="form-control" placeholder="Rue et numéro civique" />
                    <span asp-validation-for="AddressStreet" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <input asp-for="AddressCity" class="form-control" placeholder="Ville" />
                    <span asp-validation-for="AddressCity" class=" text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <input asp-for="AddressStateProvince" class="form-control" placeholder="Province" />
                    <span asp-validation-for="AddressStateProvince" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <input asp-for="AddressCountry" class="form-control" placeholder="Pays" />
                    <span asp-validation-for="AddressCountry" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <input asp-for="AddressPostalCode" class="form-control" placeholder="Code postal" />
                    <span asp-validation-for="AddressPostalCode" class="text-danger"></span>
                </div>
                <div class="form-group mt-4 mb-1 text-start">
                    <input type="submit" value="Sauvegarder" />
                </div>
            </form>
        </div>
        <div style="margin-bottom:10px">
            <a asp-controller="Account" asp-action="Details">
                <button class="account-details-modifier-button">Annuler</button>
            </a>
        </div>
    </div>
</div>
