@using BallsRUs.Models.Account
@model AccountDetailsVM
@{
    ViewData["Title"] = "EditAddress";
}


<div>
    <h3 id="account-details-title">Modifier votre adresse</h3>
</div>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<div>
    <div class="row" style="margin-top:30px">
        <div style="text-align:center">
            <form asp-action="EditAddress" class="account-register-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-4">
                    <p style="font-weight:bold">Rue et numéro civique</p>
                    <input asp-for="Address.Street" class="form-control" placeholder="Rue et numéro civique" />
                    <span asp-validation-for="Address.Street" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <p style="font-weight:bold">Ville</p>
                    <input asp-for="Address.City" class="form-control" placeholder="Ville" />
                    <span asp-validation-for="Address.City" class=" text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <p style="font-weight:bold">Pronvinc ou état</p>
                    <input asp-for="Address.StateProvince" class="form-control" placeholder="Province" />
                    <span asp-validation-for="Address.StateProvince" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <p style="font-weight:bold">Pays</p>
                    <input asp-for="Address.Country" class="form-control" placeholder="Pays" />
                    <span asp-validation-for="Address.Country" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <p style="font-weight:bold">Code Postal</p>
                    <input asp-for="Address.PostalCode" class="form-control" placeholder="Code postal" />
                    <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
                </div>
                <div class="form-group mt-4 mb-1 text-start">
                    <input type="submit" value="Sauvegarder" />
                </div>
            </form>
        </div>
        <div style="margin-bottom:10px">
            <a asp-controller="Account" asp-action="Details">
                <button class="account-details-modifier-button">Annuler</button>
            </a>
        </div>
    </div>
</div>
