<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BallsRUs</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BallsRUs.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="row">
            <div id="header-bar">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img id="header-logo" title="Accueil" src="../img/logo_no_background_white.png" /></a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 p-0">
                <nav class="navbar navbar-expand-sm bg-white border-bottom">
                    <div id="navbar-container">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Nouveautés</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Bâtons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Balles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Vêtements</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Sacs</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    @if (ViewData["Title"] is not null && ViewData["Title"].ToString() == "Home")
    {
        <div id="homepage-slogan-image">
            <span id="homepage-slogan">
                Bienvenue sur le premier site 100% québécois de vente d'équipements de golf. <br />
                Swingez vers la perfection, un clic à la fois!
            </span>
        </div>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 Balls R Us Ltd. Tous droits réservés.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
