html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.navbar-expand-sm .navbar-nav {
    flex-direction: row;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Poppins';
    letter-spacing: 0px;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1340px !important;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 100% !important;
    }
}

input[type=submit] {
    background-color: forestgreen;
    border: none;
    color: white;
    width: 200px;
    height: 35px;
    display: block;
    justify-self: center;
    margin: auto;
    margin-top: 10px;
}
    input[type=submit]:hover {
        filter: brightness(.96);
    }

input[type=text], input[type=password], textarea {
    border: 0px solid #000000;
    outline: none;
    margin-bottom: 1px;
    border-bottom-width: 1px;
    background-color: white;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0px;
}
    input[type=text]:focus, input[type=password]:focus, textarea:focus {
        outline: none;
        box-shadow: none;
        margin-bottom: 0px;
        border-bottom-width: 2px;
        border-color: forestgreen;
    }

.row {
    margin-right: 0;
    margin-left: 0;
}

#header-bar-container {
    margin-left: 0;
    margin-right: 0;
    background-color: forestgreen;
}

#header-bar {
    width: 100%;
    height: 80px;
    align-content: center;
    display: flex;
}

#header-logo {
    width: 100%;
    height: 100%;
}

#search-bar-container {
    width: 100%;
    height: 100%;
    max-width: 31.25rem;
    display: flex;
    align-items: center;
    margin: auto;
}

#search-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-bar-text {
    width: 100%;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3rem 0 1.5rem;
    font-size: 1rem;
}

#search-bar-button {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
}

#icons-header-container {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-right: 5vw;
}

.icons-header {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(103%) contrast(103%);
    width: auto;
    height: 20px;
}

.navbar {
    justify-content: center;
}

#navbar-container {
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 2vw !important;
    padding-left: 2vw !important;
}

.nav-item {
    justify-content: center;
    display: flex;
}

.nav-link {
    margin-left: auto;
    margin-right: auto;
}

#homepage-slogan-image {
    background-image: url("/img/default_background.jpg");
    background-size: cover;
    width: 100%;
    height: 30vw;
    justify-content: center;
    display: flex;
}

@media (min-width: 576px) {
    #homepage-slogan-image {
        background-image: url("/img/default_background.jpg");
        background-size: cover;
        width: 100%;
        height: 30vw;
    }
}

#homepage-slogan {
    padding-left: 5vw;
    padding-right: 5vw;
    margin: auto;
    font-size: max(2.2vw, 14px);
    font-weight: bold;
    color: white;
    text-align: center;
}

.footer-link {
    text-decoration: none;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity));
}
    .footer-link:hover {
        text-decoration:underline;
        color:forestgreen;
    }

#footer-bar {
    width: 100%;
    display: flex;
}

.footer-block {
    justify-content: center;
    display: flex;
    margin-top:min(35px,4vw);
}

.footer-block-title {
    font-weight: bold;
}

.footer {
    bottom: 0;
    height: 2em;
    left: 0;
    width: 100%;
}

#footer-copyright {
    justify-content:center;
    display:flex;
}

#footer-copyright-text {
    margin-left: auto;
    margin-right: auto;
}

#newsletter-form {
    background-color: #f5f5f5;
    border-radius: 0.375em;
    box-shadow: 0 0 0.0625em 0 rgba(62,62,61,.05), 0 0.25em 0.5em 0 rgba(62,62,61,.1);
    padding: 2.2em 1.75em 1.5em;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#newsletter-header {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.newsletter-form-item {
    margin-left: 3vw;
    margin-right: 3vw;
}

#carousel-title {
    margin-top: 50px;
    font-weight: bold;
}

#carousel-example-controls {
    padding-top: 10px;
}

#carousel-container {
    max-height: 1200px;
    text-align: center;
}