html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.navbar-expand-sm .navbar-nav {
    flex-direction: row;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Poppins';
    letter-spacing: 0px;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1340px !important;
    }
}

input[type=submit] {
    background-color: forestgreen;
    border: none;
    color: white;
    width: 200px;
    height: 35px;
    display: block;
    justify-self: center;
    margin: auto;
    margin-top: 10px;
}

    input[type=submit]:hover {
        filter: brightness(1.10);
    }

input[type=text], input[type=password], textarea {
    border: 0px solid #000000;
    outline: none;
    margin-bottom: 1px;
    border-bottom-width: 1px;
    background-color: white;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0px;
}

    input[type=text]:focus, input[type=password]:focus, textarea:focus {
        outline: none;
        box-shadow: none;
        margin-bottom: 0px;
        border-bottom-width: 2px;
        border-color: forestgreen;
    }

#header-bar-container {
    margin-left: 0;
    margin-right: 0;
    background-color: forestgreen;
}

#header-bar-logo-container-left {
    width: 100%;
    height: 80px;
}

#header-bar-logo-container-center {
    width: 100%;
    height: 80px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.header-logo {
    width: auto;
    height: 100%;
}

#header-search-bar-container {
    width: 100%;
    height: 100%;
    max-width: 31.25rem;
    display: flex;
    align-items: center;
    margin: auto;
}

#header-search-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-search-bar-text {
    width: 100%;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3rem 0 1.5rem;
    font-size: 1rem;
}

#header-search-bar-button {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
}

#header-icons-container-right {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-right: 4vw;
}

#header-icons-container-left {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2vw;
}

.header-icons {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(103%) contrast(103%);
    width: auto;
    height: 20px;
}

.navbar {
    justify-content: center;
}

#navbar-container {
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 2vw !important;
    padding-left: 2vw !important;
}

.nav-item {
    justify-content: center;
    display: flex;
}

.nav-link {
    margin-left: auto;
    margin-right: auto;
}

#homepage-slogan-image {
    background-image: url("/img/default_background.jpg");
    background-size: cover;
    width: 100%;
    height: 30vw;
    justify-content: center;
    display: flex;
}

@media (min-width: 576px) {
    #homepage-slogan-image {
        background-image: url("/img/default_background.jpg");
        background-size: cover;
        width: 100%;
        height: 30vw;
    }
}

#homepage-slogan-text {
    padding-left: 5vw;
    padding-right: 5vw;
    margin: auto;
    font-size: max(2.2vw, 14px);
    font-weight: bold;
    color: white;
    text-align: center;
}

.footer {
    bottom: 0;
    height: 2em;
    left: 0;
    width: 100%;
}

.footer-link {
    text-decoration: none;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity));
}

    .footer-link:hover {
        text-decoration: underline;
        color: forestgreen;
    }

#footer-sections-container {
    justify-content: center;
}

.footer-sections-column {
    justify-content: center;
    display: flex;
    margin-top: min(35px,4vw);
}

.footer-sections-title {
    font-weight: bold;
}

#footer-copyright-container {
    justify-content: center;
    display: flex;
}

#footer-copyright-text {
    margin-left: auto;
    margin-right: auto;
}

#newsletter-form {
    background-color: #f5f5f5;
    border-radius: 0.375em;
    box-shadow: 0 0 0.0625em 0 rgba(62,62,61,.05), 0 0.25em 0.5em 0 rgba(62,62,61,.1);
    padding: 2.2em 1.75em 1.5em;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#newsletter-header {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.newsletter-form-item {
    margin-left: 3vw;
    margin-right: 3vw;
}



.panel-thumbnail {
    height: 400px;
    text-align: center;
    width: 400px;
    display: flex;
    margin-left: 340px;
}

#profile-grid {
    overflow: auto;
    white-space: normal;
}

    #profile-grid .profile {
        padding-bottom: 40px;
    }

    #profile-grid .panel {
        padding: 0
    }

    #profile-grid .panel-body {
        padding: 15px
    }

    #profile-grid .profile-name {
        font-weight: bold;
    }

    #profile-grid .thumbnail {
        margin-bottom: 6px;
    }

    #profile-grid .panel-thumbnail {
        overflow: hidden;
    }

    #profile-grid .img-rounded {
        border-radius: 4px 4px 0 0;
    }

.about-block {
    width: 100%;
    border-bottom: solid 1px grey;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.about-title {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Poppins';
    font-weight: bold;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
}

.about-mission-text {
    font-family: 'Poppins';
    text-align: left;
}

.about-equipe-column {
    float: left;
    margin-bottom: 16px;
    padding: 0 8px;
}

.about-equipe-container {
    padding: 0 16px;
    height: 100%;
}

    .about-equipe-container::after {
        content: "";
        clear: both;
        display: table;
    }

.about-equipe-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.about-equipe-image {
    width: 100%;
    height: auto;
}

.about-equipe-title {
    color: grey;
}

/* Ajuste la taille des cartes en fonction de leur grosseur 
    pour qu'elles soit toujours égales et esthétique */
.about-equipe-description {
    height: 150px;
}

@media (max-width: 1399px) {
    .about-equipe-description {
        height: 175px;
    }
}

@media (max-width: 1199px) {
    .about-equipe-description {
        height: 215px;
    }
}

@media (max-width: 991px) {
    .about-equipe-description {
        height: 175px;
    }
}

@media (max-width: 767px) {
    .about-equipe-description {
        height: 100px;
    }
}

.about-equipe-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: forestgreen;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

    .about-equipe-button:hover {
        filter: brightness(1.10);
        text-decoration: none;
        color: white;
    }

#about-coord-container {
    margin-bottom: 50px;
}

#about-coord-box {
    background-color: #f5f5f5;
    width: inherit;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#about-coord-text {
    width: 700px;
    padding: 20px 30px 5px;
}

#about-coord-map {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}




/*CAROUSEL TITLE*/
#homepage-carousel-promotion-title {
    margin-top: 50px;
    font-weight: bold;
}

#homepage-carousel-promotion-example-controls {
    padding-top: 10px;
}

#homepage-carousel-promotion-container {
    max-height: 1200px;
    text-align: center;
}

.text_sponsors {
    font-size: max(2vw, 13px);
    text-align: center;
    padding: 50px;
}

@media (min-width: 576px) {
    /* Personnalisation du carousel */

    .homepage-carousel-promotion-item {
        align-content: center;
        padding: 15px; /* Espace entre les éléments */
        /* Bordure des éléments */
    }

    /* Personnalisation des flèches de défilement */
    .homepage-carousel-promotion-control-prev,
    .homepage-carousel-promotion-control-next {
        width: 5%; /* Largeur des flèches */
    }

    .homepage-carousel-promotion-control-next {
        width: 100px;
    }


        /* Style des flèches au survol */
        .homepage-carousel-promotion-control-prev:hover,
        .homepage-carousel-promotion-control-next:hover {
            background-color: #555;
        }

        /* Style du texte "Previous" et "Next" */
        .homepage-carousel-promotion-control-prev span,
        .homepage-carousel-promotion-control-next span {
            position: absolute; /* Position absolue pour centrer le texte */
            top: 50%; /* Position verticale au centre */
            transform: translateY(-50%); /* Décalage vertical pour centrer */
        }

    /* Style du texte "Previous" */
    .homepage-carousel-promotion-control-prev span {
        left: 15px; /* Position horizontale à gauche */
    }

    .homepage-carousel-promotion-control-prev span {
        left: 15px; /* Position horizontale à gauche */
    }

    /* Style du texte "Next" */
    .homepage-carousel-promotion-control-next span {
        right: 15px; /* Position horizontale à droite */
    }
}

/*END CAROUSEL*/


/*CSS partners carousel*/
.homepage-partners-title-container {
    padding-top: 150px;
    padding-bottom: 50px;
    text-align: center;
    justify-content: center;
}

.homepage-carousel-partners {
    position: relative;
    /*max-width: 940px;*/
    width: 100%;
}

.homepage-carousel-arrowleft {
    position: absolute;
    top: 50%;
    color: white;
    left: 0; /* Positionnez le bouton de gauche à gauche */
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ri-arrow-left-s-line {
    color: white;
}


.ri-arrow-right-s-line {
    color: white;
}


.homepage-carousel-arrowright {
    position: absolute;
    color: white;
    top: 50%;
    right: 0; /* Positionnez le bouton de droite à droite */
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

    .homepage-carousel-arrowleft button,
    .homepage-carousel-arrowright button {
        width: 32px;
        height: 56px;
        color: #000 !important;
        background-color: gainsboro;
        font-size: 20px;
        cursor: pointer;
        border: none;
        outline: none;
    }

        .homepage-carousel-arrowleft button:hover,
        .homepage-carousel-arrowright button:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }

.homePage-Carousel-Arrows #index-carousel-arrowPrev {
    left: 0;
}

.homePage-Carousel-Arrows #index-carousel-arrowNext {
    right: 0;
}


.homepage-carousel-cardwrapper {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    padding: 24px;
    gap: 24px;
    cursor: grab;
    scroll-snap-type: x mandatory;
    scroll-padding-inline: 24px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

/* Appliquer grid-auto-columns pour les écrans larges */
@media screen and (min-width: 1025px) {
    .homepage-carousel-cardwrapper {
        grid-auto-columns: calc((100% / 4) - 12px);
    }
}

/* Appliquer grid-auto-columns pour les écrans petits */
@media screen and (min-width: 576px) and (max-width: 1024px) {
    .homepage-carousel-cardwrapper {
        grid-auto-columns: calc((100% / 2) - 12px);
    }
}

@media screen and (max-width: 575px) {

    .homepage-carousel-cardwrapper {
        width: 100vw;
        grid-auto-columns: calc((100% / 2) - 12px);
    }
}
.homepage-carousel-cardwrapper::-webkit-scrollbar {
    display: none;
}

.homepage-carousel-cardwrapper.grab {
    cursor: grabbing;
    user-select: none;
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.homepage-carousel-cardwrapper.no-smooth {
    scroll-behavior: auto;
}

.homepage-carousel-card-item-partners {
    /*padding:6px;*/
    scroll-snap-align: start;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 8px 24px rgba(0, 0, 0, .1);
}

    .homepage-carousel-card-item-partners img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding: 4px;
    }

