html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.navbar-expand-sm .navbar-nav {
    flex-direction: row;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Poppins';
    letter-spacing: 0px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

#header-bar {
    width: 100%;
    height: 75px;
    background-color: forestgreen;
    justify-content: center;
    align-content: center;
    display: flex;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 75px;
    width: 88px;
}

#header-logo {
    width: 100%;
    height: 100%;
}

.navbar {
    justify-content: center;
}

#navbar-container {
    margin-left: auto;
    margin-right: auto;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 2vw;
    padding-left: 2vw;
}

.nav-item {
    justify-content: center;
    display: flex;
}

.nav-link {
    margin-left: auto;
    margin-right: auto;
}

#homepage-slogan-image {
    background-image: url("/img/default_background.jpg");
    background-size: cover;
    width: 100vw;
    height: 30vw;
    justify-content: center;
    display: flex;
}

@media (min-width: 576px) {
    #homepage-slogan-image {
        background-image: url("/img/default_background.jpg");
        background-size: cover;
        width: 100vw;
        height: 20vw;
    }
}

#homepage-slogan {
    padding-left: 5vw;
    padding-right: 5vw;
    margin: auto;
    font-size: max(2vw, 14px);
    font-weight: bold;
    color: white;
    text-align: center;
}

.aproposblock {
    width: 100%;
    border-bottom: solid 1px grey;
}

#titres-a-propos, .apropos-contianer h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Poppins';
    font-weight: bold;
    margin-left: auto;
    text-align : center;
    margin-right: auto;
}

#texte-mission {
    font-family: 'Poppins';
    text-align: left;
}

.column-notre-equipe {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

@media(max-width: 650px) {
    .column-notre-equipe {
        width: 100%;
        display: block;
    }
}

.card-notre-equipe {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container-notre-equipe {
    padding: 0 16px;
}
.container-notre-equipe::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title-notre-equipe {
    color: grey;
}

.button-notre-equipe {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: forestgreen;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button-notre-equipe:hover {
    background-color: #555;
}

.image-notre-equipe {
    height:400px;
}


.nos-coord {
    border: 1px solid black;
    display: flex;
    background: linear-gradient(#e2ebea,#ededed);
    width: inherit;
    margin-left: auto;
    margin-right: auto;
}
.nos-coord {
    display: flex;
    justify-content: space-around;
}

.nos-coord p {
    width: 700px;
    padding: 40px 50px 40px 10px;

}