@{
    ViewData["Title"] = "About";
}

<div>
    <div class="a-propos-block text-center mt-5">
        <h3 class="titres-a-propos">Notre mission</h3>
        <p id="texte-mission">
            Au cœur de chaque fairway et de chaque putt, il y a une passion qui nous anime.
            Chez Balls R Us, le golf n'est pas simplement un jeu, c'est une aventure, un mode de vie,
            une passion profondément enracinée dans notre âme. Notre mission est de propager cette
            passion, de la faire grandir et de la partager avec le monde entier.
        </p>
        <p id="texte-mission">
            Préparez-vous à swinguer vers l'excellence. Rejoignez-nous sur le parcours et ensemble,
            écrivons l'histoire du golf.
        </p>
        <p style="font-style:italic">Swingez fort, visez haut, Balls R Us - votre partenaire sur le parcours de la vie.</p>
    </div>
    <div class="a-propos-block text-center">
        <h3 class="titres-a-propos">Notre équipe</h3>
        <div class="row justify-content-center">
            <div class="column-notre-equipe col-12 col-md-2 sol-lg-3">
                <div class="card-notre-equipe">
                    <img class="image-notre-equipe" src="../img/employes/michael.jpg" alt="Michael">
                    <div class="container-notre-equipe">
                        <h2>Michael Meilleur</h2>
                        <p class="title-notre-equipe">Co-fondateur &amp; Professionel PGA Canada/Québec</p>
                        <p>
                            Avec plus de 10 ans d'expérience dans le golf professionnel, il apporte son leadership, son calme sous pression et
                            son sens aigu de la stratégie à notre équipe de vente. Michael est un maître dans l'art de négocier
                            et sait comment faire un trou en
                            un en matière de ventes. Il est prêt à mener notre équipe vers de nouveaux sommets.
                        </p>
                        <br />
                        <p>michaelm@ballsrus.ca</p>
                        <p><button class="button-notre-equipe">Contacter</button></p>
                    </div>
                </div>
            </div>
            <div class="column-notre-equipe col-12 col-md-2 sol-lg-3">
                <div class="card-notre-equipe">
                    <img class="image-notre-equipe" src="../img/employes/olivier.jpg" alt="Olivier">
                    <div class="container-notre-equipe">
                        <h2>Olivier Charron</h2>
                        <p class="title-notre-equipe">Co-Fondateur &amp; Professionel PGA Canada/Québec</p>
                        <p>
                            Olivier est la personne que vous voulez avoir à vos côtés pour établir des relations solides
                            avec les clients. Son charisme et son sens de l'écoute font de lui un véritable pro en
                            matière de communication. En tant que golfeur accompli, il sait comment créer des liens
                            avec les gens sur et en dehors du terrain.
                        </p>
                        <br />
                        <p>olivierc@ballsrus.ca</p>
                        <p><button class="button-notre-equipe">Contacter</button></p>
                    </div>
                </div>
            </div>
            <div class="column-notre-equipe col-12 col-md-2 sol-lg-3">
                <div class="card-notre-equipe">
                    <img class="image-notre-equipe" src="../img/employes/mahdi.jpg" alt="Mahdi">
                    <div class="container-notre-equipe">
                        <h2>Mahdi Ellili</h2>
                        <p class="title-notre-equipe">Co-fondateur &amp; Spécialiste stratégie des ventes</p>
                        <p>
                            <br />
                            Mahdi est le cerveau derrière notre approche stratégique en
                            matière de ventes. Son esprit analytique et ses compétences en
                            planification sont inégalés. En tant que golfeur aguerri, il
                            comprend l'importance de la précision et de la planification dans notre quête de succès.
                        </p>
                        <br />
                        <p>mahdie@ballsrus.ca</p>
                        <p><button class="button-notre-equipe">Contacter</button></p>
                    </div>
                </div>
            </div>
            <div class="column-notre-equipe col-12 col-md-2 sol-lg-3">
                <div class="card-notre-equipe">
                    <img class="image-notre-equipe" src="../img/employes/francois.jpg" alt="François">
                    <div class="container-notre-equipe">
                        <h2>François Lampron</h2>
                        <p class="title-notre-equipe">Co-fondateur &amp; Spécialiste relations clients</p>
                        <p>
                            François est notre as de la prospection. Il excelle dans
                            l'identification de nouvelles opportunités de marché et la conversion
                            de prospects en clients fidèles. Sa détermination sur le terrain de golf
                            se traduit parfaitement dans son approche de la vente, où il ne recule
                            devant rien pour élargir notre base de clients.
                        </p>
                        <br />
                        <p>francoisl@ballsrus.ca</p>
                        <p><button class="button-notre-equipe">Contacter</button></p>
                    </div>
                </div>
            </div>
            <div class="column-notre-equipe col-12 col-md-2 sol-lg-3">
                <div class="card-notre-equipe">
                    <img class="image-notre-equipe" src="../img/employes/xav.jpg" alt="Xavier">
                    <div class="container-notre-equipe">
                        <h2>Xavier Côté-Daviau</h2>
                        <p class="title-notre-equipe">Co-fondateur &amp; Spécialiste présentation des produits</p>
                        <p>
                            Xavier est notre expert en présentation de produits. En tant que
                            golfeur expérimenté, il sait comment montrer les atouts de nos produits
                            avec élégance et précision. Sa capacité à captiver son public et à mettre
                            en valeur les avantages de nos produits est inestimable.
                        </p>
                        <br />
                        <p>xaviercd@ballsrus.ca</p>
                        <p><button class="button-notre-equipe">Contacter</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="a-propos-coord-container">
        <h3 class="titres-a-propos">Où nous trouver?</h3>
        <div class="nos-coord">
            <div class="row">
                <div id="a-propos-text-coord" class="col-3 col-md-3 col-sm-12">
                    <p>
                        Située dans la pittoresque ville de Mont-Saint-Hilaire, notre boutique de golf est nichée au cœur de la communauté golfique québécoise. Notre emplacement privilégié offre un accès facile aux parcours de golf locaux et à une vue magnifique sur la montagne qui domine notre ville.
                        <br />
                        <br /> 370, boul Sir-Wilfrid-Laurier
                        <br /> Mont-Saint-Hilaire
                        <br /> J3H 5V3
                        <br /> Téléphone : (450) 123-4567
                        <br /> E-mail :    info@ballsrus.ca
                    </p>
                </div>
                <iframe class="col-9 col-md-12 col-sm-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d178775.82432969572!2d-73.49046707153316!3d45.56295221996298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc9ab25d81c9f95%3A0x7e3badae8fd02489!2sClub%20de%20Billard%20L&#39;Impact%20Inc!5e0!3m2!1sfr!2sca!4v1694984725464!5m2!1sfr!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>